html {
background-color: black;
font-family: "Verdana"; sans-serif;
}

h1 {
font-weight: normal;
font-size: 50px;
color:white;
text-align: center;
}

p {
color: white;
font-size: 16px;
text-align: center;
}

#video1 {
background-color: black;
text-align: center;
}

h2 {
color: white;
font-weight: 300px;
font-size: 42px;
text-align: center;
}

#content1 {
font-size: 21px;
color: gray;
}

#link {
color: Aqua;
font-weight: bold;
}

#copyright {
color: gray;
text-align: right;
}
